/* Write your CSS here! */
header
{    
    text-align:center;
    font-size: 40px;    
}

body
{
    background-color: black;
    color: white;
    margin: 8px;
    display: block;
}

#mainHeading
{
    color: red;
}

h2
{
    text-decoration: underline;
}

p 
{
    margin-left: 25px;
    margin-right: 800px;
}


#testP.funParagraph
{
    color:green;
}

img 
{
    width: 300px;
    height: 200px;
}

#Olsson 
{
    width: 400px !important;
    height: 200px !important;
}

footer 
{
    padding-left: 600px;
}